<div data-ng-controller="DashboardCtrl as vm">
    <h2>{{vm.title}}</h2>
    <div>
        <label>Filter</label>
        <input data-ng-model="productFilter"/>
    </div>
    <table class="table table-bordered table-striped table-condensed">
        <thead>
        <th>ID</th>
        <th>Time</th>
        </thead>
        <tbody>
        <tr data-ng-repeat="p in vm.products | filter:productFilter">
            <td>{{p.id}}</td>
            <td>{{p.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
