body {
    /*margin: 3em 0 0 0;*/
}

.row {
    margin-top:1em;
    margin-bottom:1em;
}

.summary-block {
    height:370px;
    text-align: center;
    border: 1px solid;
    -webkit-border-radius: 5%;
    -moz-border-radius: 5%;
    border-radius: 3%;
}

.summary-content {
    vertical-align: middle;
    display: inline-block;
}

.job-table {
    margin-bottom: 0;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.div-anchor {
    color: inherit;
}

.glyph-color-danger {
    border-color: #752420;
}

.SUCCESS {
    /*background: #c0e57c;*/
    /*background: #dff0d8;*/
    background: #5cb85c;
}

.UNSTABLE {
    /*background: #ffec94;*/
    /*background: #fcf8e3;*/
    background: #f0ad4e;
}

.FAILURE {
    /*background: #f2dede;*/
    /*background: #ffaeae;*/
    background: #d9534f;
}

.STARTED {
    /*background: #d9edf7;*/
    /*background: #b4d8e7;*/
    background: #5bc0de;
}

.ABORTED {
    background: #ccc;
}

/* Chart Styles*/

path {
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: non;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}

.xAxis {

}

.yAxis {

}
