body {
    margin: 3em 0 0 0;
}

.row {
    margin-top:1em;
    margin-bottom:1em;
}

.summary-block {
    height:250px;
    text-align: center;
}

.summary-content {
    vertical-align: middle;
    display: inline-block;
}
