<div class="hero-unit">
  <div data-ng-controller="ConfigCtrl as vm">
    <div class="col-md-12">
      <div data-ng-repeat="product in vm.products | orderBy: $index track by $index">
        <div id="post-{{$index}}" class="line-horizontal">
          <div class="col-md-12 bg-info">
            <div class="summary-content">
              {{product.name}}
            </div>
          </div>
        </div>
      </div>
      <div>
      <form class="form-inline">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="productName"/>
        </div>
      </form>
    </div>
    </div>
  </div>
</div>
