<div class="hero-unit">
  <div data-ng-controller="JobsCtrl as vm">
    <div class="col-md-12">
      <h1>{{vm.name}} Jobs</h1>
      <p>Search <input type="text" ng-model="jobFilter"></p>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th width="10%">ID #</th>
          <th width="30%">Job Name</th>
          <th width="30%">Time Received</th>
          <th width="30%">Actions</th>
        </tr>
        </thead>
      </table>
        <div ng-repeat="job in vm.jobs | orderBy: 'name' | filter:jobFilter">
        <table class="table table-condensed table-hover job-table">
          <tbody>
          <tr class="{{job.currentStatus}}" ng-click="vm.loadRuns(vm.jobs.indexOf(job), job.id, false);" data-toggle="collapse"
              data-target="#runs-{{job.id}}" aria-expanded="false" aria-controls="runs-{{job.id}}">
            <td width="10%">{{job.id}}</td>
            <td width="30%"><a class="div-anchor" href="{{job.full_url}}">{{job.name}}</a></td>
            <td width="30%">{{job.latestTime | date: 'medium'}}</td>
            <td width="30%">
              <button ng-click="vm.deleteJob(job.id);" class="glyphicon glyphicon-remove btn btn-sm btn-danger glyph-color-danger"></button>
            </td>
          </tr>
          </tbody>
        </table>
        <div id="runs-{{job.id}}" class="collapse col-md-11 col-md-offset-1 no-padding" aria-expanded="false">
          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th width="10%">Run #</th>
              <th>Time Received</th>
              <th ng-if="job.valueUnit !== 'NULL'">Run Value ({{job.valueUnit}})</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="run in job.runs | orderBy: '-time'" class="{{run.status}}">
              <td width="10%">{{run.number}}</td>
              <td>{{run.time | date: 'medium'}}</td>
              <td ng-if="run.value !== null">{{run.value}}</td>
              <td>
                <button ng-click="vm.deleteRun(vm.jobs.indexOf(job), job.id, run.id) ;" class="glyphicon glyphicon-remove btn btn-sm btn-danger glyph-color-danger"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
