<div class="hero-unit">
  <div data-ng-controller="JobsCtrl as vm">
    <div class="col-md-12">
      <h1>{{vm.name}} Jobs</h1>
      <div class="progress">
        <div class="progress-bar progress-bar-success" style="width: {{ ((vm.numSuccess/vm.numTotal) * 100) }}%"></div>
        <div class="progress-bar progress-bar-warning" style="width: {{ ((vm.numUnstable/vm.numTotal) * 100) }}%"></div>
        <div class="progress-bar progress-bar-danger" style="width: {{ ((vm.numFailed/vm.numTotal) * 100) }}%"></div>
      </div>
      <p>Search <input type="text" ng-model="jobFilter"> Run Limit <input type="number" min="1" max="50" ng-model="vm.runLimit"></p>
      <table class="table table-condensed table-hover">
        <thead>
        <tr>
          <th width="10%">ID #</th>
          <th width="30%">Job Name</th>
          <th width="30%">Time Received</th>
          <th width="30%">Actions</th>
        </tr>
        </thead>
      </table>
        <div ng-repeat="job in vm.jobs | orderBy: vm.jobOrderBy | filter:jobFilter">
        <table class="table table-condensed table-hover job-table">
          <tbody>
          <tr class="{{job.currentStatus}}" ng-click="vm.loadRuns(vm.jobs.indexOf(job), job.id, (vm.lastRunLimit != vm.runLimit), vm.runLimit);" data-toggle="collapse"
              data-target="#runs-{{job.id}}" aria-expanded="false" aria-controls="runs-{{job.id}}">
            <td width="10%">{{job.id}}</td>
            <td class="job-table-jobname-column" width="30%"><a target="_blank" class="div-anchor" href="{{job.full_url}}">{{job.name}}</a></td>
            <td width="30%">{{job.latestTime | date: 'medium'}}</td>
            <td width="30%">
              <button ng-click="vm.deleteJob(job.id);" class="glyphicon glyphicon-remove btn btn-sm btn-danger glyph-color-danger"></button>
            </td>
          </tr>
          </tbody>
        </table>
        <div id="runs-{{job.id}}" class="collapse col-md-11 col-md-offset-1 no-padding" aria-expanded="false">
          <button class="glyphicon glyphicon-signal btn btn-sm btn-primary" type="button" id="CLBox{{job.id}}" data-toggle="modal" data-target=".{{job.id}}-modal"></button>
          <div class="modal fade {{job.id}}-modal" tabindex="-1" role="dialog" aria-labelledby="{{job.id}}-modal">
            <div class="modal-dialog modal-lg">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">{{job.name}} Configuration</h4>
                </div>
                <div class="modal-body">
                  <div class="input-group">
                    <span class="input-group-addon" id="{{job.id}}UCLLabel">Upper Control Limit</span>
                    <input aria-describedby="{{job.id}}UCLLabel" ng-model="upperControlLimit" type="number" class="form-control" placeholder="{{job.upperControlLimit}}"/>
                  </div>
                  <div class="input-group">
                    <span class="input-group-addon" id="{{job.id}}LCLLabel">Lower Control Limit</span>
                    <input aria-describedby="{{job.id}}LCLLabel" ng-model="lowerControlLimit" type="number" class="form-control" placeholder="{{job.lowerControlLimit}}"/>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button ng-click="vm.setControlLimits(job.id, upperControlLimit, lowerControlLimit, job)" type="button" data-dismiss="modal" class="btn btn-primary">Save</button>
                </div>
              </div>
            </div>
          </div>
          <button ng-click="vm.loadRuns(vm.jobs.indexOf(job), job.id, true, vm.runLimit);" class="glyphicon glyphicon-repeat btn btn-sm btn-primary"></button>

          <div ng-if="job.valueUnit !== 'NULL' && job.runs !== undefined">
            <control-chart id="{{job.id}}" data="job.chartData" options="job.chartOptions"></control-chart>
          </div>
          <table class="table table-condensed table-hover">
            <thead>
            <tr>
              <th width="10%">Run #</th>
              <th>Time Received</th>
              <th ng-if="job.valueUnit !== 'NULL'">Run Value ({{job.valueUnit}})</th>
              <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="run in job.runs | orderBy: '-time'" class="{{run.status}}">
              <td width="10%">{{run.number}}</td>
              <td><a target="_blank" class="div-anchor" href="{{run.full_url}}">{{run.time | date: 'medium'}}</a></td>
              <td ng-if="run.value !== null">{{run.value}}</td>
              <td>
                <button ng-click="vm.deleteRun(vm.jobs.indexOf(job), job.id, run.id) ;" class="glyphicon glyphicon-remove btn btn-sm btn-danger glyph-color-danger"></button>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
