<div class="hero-unit">
  <div data-ng-controller="JobsCtrl as vm">
    <div class="col-md-12">
      <table class="table">
        <thead>
        <tr>
          <th width="10%">#</th>
          <th width="30%">Job Name</th>
          <th width="30%">Time Received</th>
          <th width="30%">Actions</th>
        </tr>
        </thead>
      </table>
      <div ng-repeat="job in vm.jobs">
        <table class="table">
          <tbody>
          <tr ng-click="vm.loadRuns($index, job.id, false);" data-toggle="collapse" data-target="#runs-{{job.id}}" aria-expanded="false" aria-controls="runs-{{job.id}}">
            <td width="10%">{{job.id}}</td>
            <td width="30%">{{job.name}}</td>
            <td width="30%">Not Done</td>
            <td width="30%">Not done</td>
          </tr>
          </tbody>
        </table>
        <div id="runs-{{job.id}}" class="collapse col-md-11 col-md-offset-1 no-padding" aria-expanded="false">
          <table class="table">
            <thead>
              <tr>
                <th>Run #</th>
                <th>Time Received</th>
                <th>Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr ng-repeat="run in job.runs">
                <td>{{run.number}}</td>
                <td>{{run.time}}</td>
                <td><button ng-click="alert('not impl');" class="glyphicon glyphicon-trash btn btn-danger"></button></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
